app-container {
    display: grid;
    position: fixed;
    inset: 0;
    overflow: hidden;
    grid-template-rows: auto 1fr auto;
}

app-container > header {
    grid-row: 1;
}

app-container > main {
    grid-row: 2;
    overflow: auto;
}

app-container > footer {
    grid-row: 3;
}