file-list {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

file-list a {
    text-decoration: none;
}

file-list a:hover {
    text-decoration: underline;
}

file-list > header {
    grid-row: 1;
}

file-list > main {
    grid-row: 2;
    overflow: auto;
}

file-list > footer {
    grid-row: 3;
}